# --- Python ---
__pycache__/
__pycache__

# --- Ambientes Virtuais ---
venv/
.venv/
env/
.env
ENV/

# --- PyCharm (IntelliJ) ---
.idea/
*.iml
cmake-build-*/
out/

# --- Sistema Operacional ---
.DS_Store
Thumbs.db